<%- include("../partials/header") %>


<div class="user-section__container">

<div class="user-container">
    <div class="user-left">
        <div class="image-container">
            <% if(user.image === '') { %>
                <img src ="https://www.pngitem.com/pimgs/m/78-786501_black-avatar-png-user-icon-png-transparent-png.png" height="100%; width: 100%;">
            <% } else { %>
                <img src="<%= user.image %>" height="100%; width: 100%;">

            <% } %> 
        </div>
 
    </div>
    <div class="user-right">
    <h2><%= user.firstName %>  <%= user.lastName %></h2>
    <p>Username: <%= user.username %></p>
    <p>Email: <%= user.email %></p>

    <% if(user.city.length < 1) { %>
        <p>City: Add City</p>
    <% } else { %>
        <p>City: <%= user.city %></p>
    <% } %>
     
    <% if(user.country.length < 1) { %>
        <p>Country: Add Country</p>
    <% } else { %>
        <p>Country: <%= user.country %></p>
    <% } %>
    <% if(user.bio.length < 1) { %>
      <p>Bio: Add Bio</p>
  <% } else { %>
      <p>Bio: <%= user.bio %></p>
  <% } %>
    <% if(currentUser && currentUser.equals(user._id)) { %>
    <div style="display: flex; justify-content: center; align-items: center; margin-top: 2rem">
    <a href="/users/<%= currentUser._id %>/edit" 
      class="ui button violet" style="border-radius: 25px; padding: 1.3rem;">
      Update Profile</a>
    
    <form id="delete-form" action="/users/<%= currentUser._id %>?_method=DELETE" method="POST">
      <button class="ui button red" 
      style="border-radius: 25px; padding: 1.3rem;">Delete Profile</button>
    </form> 
    </div>
    <% } %>

</div>
</div>

<div style="min-height: 100vh; padding: 10rem 14rem;">
  <h1 style="text-align: center;">Latest Feeds Activity</h1>
  <div class="feeds-wrapper">
  <% feeds.length = 7 %>
  <% feeds.forEach(function(feed) { %>
      <div class="ui feed feed-container" style="margin: 0.4em 0;">
          <div class="event">
              <div class="label">
                  <img src="<%= feed.author.image %>">
                </div>
              <div class="content">
                  <p style="font-size: 14px">
                    <% if(currentUser && feed.author.id.equals(currentUser._id)) { %>
                      You <a href="<%= feed.link %>"><%= feed.text %></a>

                    <% } else { %>
                      <%= feed.author.username %> <a href="<%= feed.link %>"><%= feed.text %></a>

                    <% } %>
                  </p>
                  <% if(feed.title != '') { %>
                      <p><%= feed.title %></p>
                      <% } %>

                  <% if(feed.image != '') { %>
                          <img src="<%= feed.image %>" class="feed-post__image">
                      <% } %>
                  <% if(feed.content != '' && feed.content != 'undefined') { %>

                  <% } %> 
               

                  <div class="date"><%= feed.created.toDateString() %></div>

              </div>
      </div>
      </div>
  <% }) %>

  <a href="/users/<%= currentUser._id %>/feeds">View All</a>
</div>
</div>


<div class="user-gallery__container">
  <% if(gallery.length < 1) { %>
      <h1>No artwork present</h1>
  <% } else { %>
    <% if(currentUser && currentUser.equals(user._id)) { %>
      <h1>My Gallery</h1>
      <a class="ui violet big button" style="border-radius: 0;" href="/galleries/new"><i class="plus icon circle"></i>Add New</a>

    <% } else { %>
      <% gallery.forEach(function(gallery) {%>
        <h1><%= gallery.author.username %> Gallery</h1>

      <% }) %>
    <% } %>
  <% } %>
  <% if(gallery.length < 1 && currentUser && currentUser.equals(user._id)) { %>
      <a class="ui violet big button" style="border-radius: 25px;" href="/galleries/new">Add Your First Gallery Item</a>
      <% } %>
  
  
  
  <div style="display: flex; justify-content: space-around; flex-wrap: wrap; margin-top: 4rem;">
  
      <% gallery.forEach(function(gallery) { %>
    
        <div class="ui card" style="height: 42rem; width: 29rem; margin: 1rem;">
            <div class="image-container">
                <img src="<%= gallery.image %>" class="gallery-image">
            </div>
            <div class="content">
              <a class="header"><h3><%= gallery.name %></h3></a>
              <div class="meta">
                <span class="date">Created on <%= gallery.created.toDateString() %></span>
              </div>
            </div>
            <div class="extra" style="display: flex; justify-content: center; align-items: center;">
              <i class="heart icon" style="color: rgb(255, 0, 64)"></i>
              <span style="font-weight: 700; color: rgb(255, 0, 85); margin-top: .5rem;"><%= gallery.likes.length %></span>
              <i class="comment icon" style="color: rgb(140, 0, 255); margin-left: .7rem;"></i>
              <span style="font-weight: 700; color: rgb(140, 0, 255); margin-top: .5rem;"><%= gallery.comments.length %></span>
            </div>
            <div class="extra content" style="display: flex; justify-content: center;">
              <a>
                <a class="ui violet button" style="border-radius: 25px;" href="/galleries/<%= gallery._id %>">View</a>
              </a>
            </div>
          </div>
          
          <% }) %>
      </div>
  
  </div>
        
    <% if(currentUser) { %>
        <a class="ui violet big button" style="border-radius: 0;" href="/posts/new"><i class="plus icon"></i>Add New</a>
    
    <% } %>
    <hr>
    
    <div class="tablets-container">
        <div class="tablets-wrapper">
        <% if(posts.length < 1) { %>
          <p>No posts yet</p>
        <% } else { %>
    
           
            <div class="ui divided items" style="padding: 5rem 10rem;">
                <% posts.forEach(function(post) { %>
    
                <div class="item">
                  <div class="image">
                    <img src="<%= post.image %>" alt="<%= post.image %>">
                </div>
                  <div class="content">
                    <a class="header"><a href="/posts/<%= post._id %>"><%= post.name %></a>
                    <div class="meta">
                      <span class="cinema">Author: <a href="/posts/<%= post.author.id %>"><%= post.author.username %></a></span>
                      <a class="avatar">
                        <% if(post.author.avatar.length < 1) { %>
                            <img src ="https://www.pngitem.com/pimgs/m/78-786501_black-avatar-png-user-icon-png-transparent-png.png" style="width: 5%">
                        <% } else { %>
                            <img src="<%= post.author.avatar %>" style="width: 2%;"> 
                        <% } %>
                      </a>
                    </div>
                    <div class="description">
                        <p><%= post.description.substring(0, 300) %>...</p>
                    </div>
                    <div class="extra">
                      <div class="ui label"><i class="thumbs up icon"></i>Likes</div>
                      <div class="ui label"><i class="comment icon"></i>Comments</div>
                      <a class="ui right floated primary button" href="/posts/<%= post._id %>">
                        Read More
                        <i class="right chevron icon"></i>
                      </a>
                    </div>
                  </div>
                </div>
    
                <!-- <div class="item">
                  <div class="image">
                    <img src="<%= post.image %>" alt="<%= post.image %>">
                </div>
                  <div class="content">
                    <a class="header"><a href="/posts/<%= post._id %>"><%= post.name %></a>
                    <div class="meta">
                      <span class="cinema">Author: <a href="/users/<%= post.author.id %>"><%= post.author.username %></a></span>
                      <a class="avatar">
                        <% if(post.author.avatar.length < 1) { %>
                            <img src ="https://www.pngitem.com/pimgs/m/78-786501_black-avatar-png-user-icon-png-transparent-png.png" style="width: 5%">
                        <% } else { %>
                            <img src="<%= post.author.avatar %>" style="width: 2%;"> 
                        <% } %>
                      </a>
                    </div>
                    <div class="description">
                        <p><%= post.description.substring(0, 300) %>...</p>
                    </div>
                    <div class="extra">
                      <a class="ui right floated primary button" href="/posts/<%= post._id %>">
                        Read More
                        <i class="right chevron icon"></i>
                      </a>
                      <div class="ui label"><%= post.author.username %></div>
                    </div>
                  </div>
                </div> -->
    
                <!-- <div class="item">
                  <div class="image">
                    <img src="<%= post.image %>" alt="<%= post.image %>">
                </div>
                  <div class="content">
                    <a class="header"><a href="/posts/<%= post._id %>"><%= post.name %></a>
                    <div class="meta">
                      <span class="cinema">Author: <a href="/users/<%= post.author.id %>"><%= post.author.username %></a></span>
                      <a class="avatar">
                        <% if(post.author.avatar.length < 1) { %>
                            <img src ="https://www.pngitem.com/pimgs/m/78-786501_black-avatar-png-user-icon-png-transparent-png.png" style="width: 5%">
                        <% } else { %>
                            <img src="<%= post.author.avatar %>" style="width: 2%;"> 
                        <% } %>
                      </a>
                    </div>
                    <div class="description">
                        <p><%= post.description.substring(0, 300) %>...</p>
                    </div>
                    <div class="extra">
                      <a class="ui right floated primary button" href="/tablets/<%= post._id %>">
                        Read More
                        <i class="right chevron icon"></i>
                      </a>
                    </div>
                  </div>
                </div> -->
                <% }) %>
    
              </div>
              <% } %>
    
        </div>
    </div>
    </div>
    
</div>

<%- include("../partials/footer") %>
