<%- include("partials/header") %>

  <!-- Header -->
  <section class="front-end-container show-desktop hide-mobile">
   
    <div class="container-image hide-tablet">  
      <div class="row">
          <div class="hide-desktop"></div>
          <div class="liquid-image show-desktop hide-tablet"></div>
        </div>
          <div class="header-container">
                <h1 class="header-primary">Sketch Like a Pro</h1>
                <p class="subheading">A Community for Digital Artists</p>
                <a href="/galleries" class="btn-check">View Our Gallery</a>
          </div>
        </div>
      </section>

      <div class="posts-home__container">
        <h1>Latest Posts</h1>
        <div class="posts-wrapper">
        <% if(posts.length < 1) { %>
          <p>No Posts Yet</p>
        <% } else { %>
      
            <div class="ui divided items" style="padding: 5rem 10rem;">
                <% posts.forEach(function(post) { %>
      
                <div class="item">
                  <div class="image">
                    <img src="<%= post.image %>" alt="<%= post.image %>">
                </div>
                  <div class="content">
                    <a class="header"><a href="/posts/<%= post._id %>"><%= post.name %></a>
                    <div class="meta">
                      <span class="cinema">Author: <a href="/users/<%= post.author.id %>"><%= post.author.username %></a></span>
                      <a class="avatar">
                        <div class="posts-user-image-container">
                        <% if(post.author.avatar.length < 1) { %>
                            <img src ="https://www.pngitem.com/pimgs/m/78-786501_black-avatar-png-user-icon-png-transparent-png.png" style="width: 100%">
                        <% } else { %>
                            <img src="<%= post.author.avatar %>"> 
                        <% } %>
                      </div>
                      </a>
                    </div>
                    <div class="description">
                        <p><%= post.description.substring(0, 300) %>...</p>
                    </div>
                    <div class="meta">
                      <span class="date">Created on <%= post.created.toDateString() %></span>
                    </div>
                    <div class="extra">
                      <div class="ui label"><i class="thumbs up icon"></i>Likes</div>
                      <div class="ui label"><i class="comment icon"></i>Comments</div>
                      <a class="ui right floated violet button" href="/posts/<%= post._id %>">
                        Read More
                        <i class="right chevron icon"></i>
                      </a>
                    </div>
                  </div>
                </div>
      
                <% }) %>
      
              </div>
              <% } %>
      
        </div>
      </div>
      <div class="gallery-all__container" 
      style="grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      align-items: center;
      padding: 2rem 5rem;">

      <% user.forEach(function(user) { %>
      <% user.gallery.forEach(function(gallery) { %>
        <div class="ui card">
          <div class="image-container">
              <img src="<%= gallery.image %>" class="gallery-image">
          </div>
          <div class="content">
            <a class="header"><h3><%= gallery.name %></h3></a>
            <div class="meta">
              <span class="date">Created in <%= gallery.created.toDateString() %></span>
            </div>
            
            <p> <a class="avatar">
              <% if(gallery.author.image.length < 1) { %>
                  <img src ="https://www.pngitem.com/pimgs/m/78-786501_black-avatar-png-user-icon-png-transparent-png.png">
              <% } else { %>
                  <img src="<%= gallery.author.image %>"> 
              <% } %>
            </a>
            <p>Created by <a href="/users/<%= gallery.author.id %>"><%= gallery.author.username %></a></p>
            <div class="extra" style="display: flex; justify-content: center; align-items: center;">
            <i class="heart icon" style="color: var(--like)"></i>
            <span style="font-weight: 700; color: var(--like); margin-top: .5rem;"><%= gallery.likes.length %></span>
            <i class="comment icon" style="color: var(--comment); margin-left: .7rem;"></i>
            <span style="font-weight: 700; color: var(--comment); margin-top: .5rem;"><%= gallery.comments.length %></span>
          </div>
  
          </div>
          <div class="extra content" style="display: flex; justify-content: center;">
            <a>
              <a class="ui primary button" href="/galleries/<%= gallery._id %>">View</a>
            </a>
          </div>
        </div>
        <% }) %>
        <% }) %>
      </div>



        <section class="gallery-container" id="gallery">
          <h2 class="gallery-header">Our Users</h2>
        
          <div class="gallery-wrapper">
            <% user.forEach(function(user) { %>
              <% user.gallery.forEach(function(gallery) { %>
                <div class="card-image">
                  <div class="card-image-side card-image-side-front card-image-side-front-1">
                    <img src="<%= gallery.image %>" width="100%" height ="100%">
                  </div>
              <% }) %>
              <div class="card-image-side card-image-side-back">
                <div class="cta">
                  <div class="home-image-container">
                  <% if(user.image.length < 1) { %>
                    <img src="https://www.pngitem.com/pimgs/m/78-786501_black-avatar-png-user-icon-png-transparent-png.png">
                <% } else { %>
                    <img src="<%= user.image %>"> 
                <% } %>    
              </div>      
                <div class="artist-description">
                    <ul class="artist-details">
                      <li><%= user.firstName %> <%= user.lastName %></li>
                      <li><%= user.username %></li>
                      <li><%= user.city %></li>
                    </ul>
                    
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, ipsam fugit necessitatibus nostrum aperiam at?</p>
                 
                    <a href="/users/<%= user._id %>"><button class="btn-check-work">Check Work</button></a>
                  </div>
                </div>
              </div>
          </div>

            <% }) %>
             
</div>
</section>

<div class="ui comments home-comments__container">
  <h1>Latest Comments</h1>

<% gallery.forEach(function(gallery) { %>

<% gallery.comments.forEach(function(comment) { %>


    <div class="comment">
      <div class="home-comments-image-container">
        <% if(comment.author.avatar.length < 1) { %>
            <img src ="https://www.pngitem.com/pimgs/m/78-786501_black-avatar-png-user-icon-png-transparent-png.png">
        <% } else { %>
            <img src="<%= comment.author.avatar %>"> 
        <% } %>

        </div>

      <div class="content">
        <p><a class="author"><%= comment.author.username %></a></p> commented on <a href="/galleries/<%= gallery._id %>"><%= gallery.author.username %> artwork.</a> 
        <div class="metadata">
          <div class="date"><%= comment.created.toDateString() %></div>
        </div>
        <div class="text">
            <%= comment.text %>
        </div>
      </div>
  </div>

<% }) %>
<% gallery.likes.forEach(function(like) { %>
  <div class="like-home__container">
  <div class="home-comments-image-container">
    <% if(like.image.length === '') { %>
        <img src ="https://www.pngitem.com/pimgs/m/78-786501_black-avatar-png-user-icon-png-transparent-png.png">
    <% } else { %>
        <img src="<%= like.image %>"> 
    <% } %>

    </div>
  <p>This is one like: <%= like.username %> liked <%= gallery.author.username %> artwork</p>
</div>
<% }) %>
  
<% }) %>
</div>



<div class="comments-home__container">
<% user.forEach(function(user) { %>
  <%user.comments.forEach(function(comment) { %>
    <div class="ui comments">
      <div class="comment">
        <a class="avatar">
          <% if(comment.author.avatar.length < 1) { %>
              <img src ="https://www.pngitem.com/pimgs/m/78-786501_black-avatar-png-user-icon-png-transparent-png.png">
          <% } else { %>
              <img src="<%= comment.author.avatar %>"> 
          <% } %>

        </a>

        <div class="content">
          <a class="author"><%= comment.author.username %></a>
          <div class="metadata">
            <div class="date"><%= comment.created.toDateString() %></div>
          </div>
          <div class="text">
              <%= comment.text %>
          </div>
        </div>
    </div>

    </div>
  <% }) %>

<% }) %>
</div>


   
    </div>
    


<%- include("partials/footer") %>

